<% if @first_visit %>
<h1 class="page_title">Tell us about yourself</h1>
<%= semantic_form_for(@user, :html => {:method => :put}) do |f| %>
	<%= f.inputs do %>
		<%= f.input :fname, :label => "Name" %>
		<%= f.input :affiliations, :label => "Libertarian Affiliations", :as => :check_boxes %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button 'Submit' %>
	<% end %>
<% end %>
<% else %>
<h1 class="page_title">Error</h1>
<p>This user's information has already been submitted.</p>
<% end %>